.Approve {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  height: 240px;
  width: 36%;
  margin: auto auto;
  margin-top: 120px;
  font-size: 18px;
}

.approveResponse {
  display: flex;
  justify-content: center;
  align-items: center;
}
