.ReportItem {
  width: 100%;
  background-color: white;
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.ReportItem img.icon {
  width: 70px;
  height: 70px;
}

.ReportItem>div {
  display: flex;
}

.ReportItem>div.descriptionWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.ReportItem>div.descriptionWrapper>ul.images {
  display: flex;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: auto;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.ReportItem>div.descriptionWrapper>ul.images:hover {
  box-shadow: 0 2px 2px 2px gray;
}

.ReportItem>div.descriptionWrapper>ul.images>li {
  border-radius: 8px;
  margin-right: 10px;
}

.ReportItem>div.descriptionWrapper>ul.images>li:last-child {
  margin-right: 0;
}

.ReportItem>div.descriptionWrapper>ul.images img {
  border-radius: 8px;
  height: 100px;
  width: auto;
}

.ReportItem>div>div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.ReportItem>div>div:first-child>div {
  margin-right: auto;
}

.ReportItem>div>div:last-child>div {
  margin-left: auto;
}

.ReportItem p.line {
  font-size: 21px;
  margin-bottom: 5px;
}

.ReportItem p.lineLeader {
  font-size: 16px;
  color: gray;
}

.ReportItem p.date {
  text-align: right;
  margin-bottom: 5px;
}

.ReportItem p.downtime {
  text-align: right;
  font-size: 21px;
  font-weight: bold;
  color: #FF8300;
}
