.Login {
  height: 100%;
  background-color: #FF8300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login img {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  border-radius: 18px;
  box-shadow: 0 4px 0 4px rgba(255,255,255,1);
  margin-bottom: 30px;
}

.Login>p.title {
  font-family: nasalization;
  font-size: 36px;
  font-weight: 400;
  color: white;
  margin-bottom: 30px;
}

.Login>p.error {
  height: 20px;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.Login>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login div.inputWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 400px;
  overflow: hidden;
}

.Login input {
  margin: 12px;
  padding: 3px 0;
  font-size: 18px;
  font-weight: 400;
  color: gray;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: 0 2px 0 0 white;
}

.Login input::placeholder {
  color: #ccc;
}

.loginButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 42px;
  background-color: #83D3D6;
  color: white;
  transition: background-color 0.5s;
}

.loginButton:hover {
  background-color: #C5ECD3;
}

.Login p.createAccount {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.Login p.createAccount>span {
  cursor: pointer;
  text-decoration: underline;
}
